# Ignore Python-related files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
.venv/

# Ignore database files
*.db

# Ignore Editor specific files
.vscode/
*.code-workspace

# Ignore pycache directories
__pycache__/

# Ignore system-specific files
.DS_Store
Thumbs.db
